* {
  box-sizing: border-box;
  margin: 0;
}

button, a {
  cursor: pointer;
}

.webContainer {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  /* About Us */
  /* Offerts */
  /* Community */
}
.webContainer .New_Header {
  background-image: url(./Assets/Header/background-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 100px;
}
.webContainer .New_Header header {
  display: flex;
  margin: 30px 0 180px 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 62px 0 52px 0;
  background-color: rgba(9, 37, 30, 0.2);
  border-radius: 100px;
}
.webContainer .New_Header header h1 {
  display: flex;
  width: 35%;
  font-size: 45px;
  line-height: 36.4px;
  color: #f5fbf2;
  margin-left: 8%;
}
.webContainer .New_Header header h1 span {
  color: #00E3A5;
}
.webContainer .New_Header header nav {
  width: 40%;
}
.webContainer .New_Header header nav ul {
  display: flex;
  justify-content: space-around;
}
.webContainer .New_Header header nav ul li {
  list-style: none;
  position: relative;
}
.webContainer .New_Header header nav ul li a {
  font-size: 18px;
  line-height: 21.09px;
  color: #f5fbf2;
}
.webContainer .New_Header header nav ul li a:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #00E3A5;
  position: absolute;
  bottom: -8px;
  left: 0;
  border-radius: 29px;
}
.webContainer .New_Header header nav ul li a:hover {
  color: #00E3A5;
}
.webContainer .New_Header header nav ul li a:hover::after {
  color: red;
  width: 60%;
  transition: all 0.3s;
  position: absolute;
}
.webContainer .New_Header header div {
  width: 15%;
  margin-left: 5%;
  margin-right: 8%;
}
.webContainer .New_Header header div button {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.05em;
  font-weight: 900;
  line-height: 22px;
  padding: 24px 48px;
  border: 2px solid #00E3A5;
  font-size: 18px;
  padding: 12px 24px;
}
.webContainer .New_Header .New_Header-box {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.webContainer .New_Header .New_Header-box .New_Header-box-left {
  margin-left: 8%;
  width: 40%;
}
.webContainer .New_Header .New_Header-box .New_Header-box-left h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  color: #80AB9E;
  font-weight: 300;
  margin-bottom: 16px;
}
.webContainer .New_Header .New_Header-box .New_Header-box-left h2 {
  font-size: 52px;
  color: #f5fbf2;
  font-weight: 700;
  margin-bottom: 72px;
}
.webContainer .New_Header .New_Header-box .New_Header-box-left button {
  background-color: #00E3A5;
  color: none;
  border-radius: 5px;
  letter-spacing: 0.05em;
  font-weight: 900;
  line-height: 22px;
  padding: 24px 48px;
  border: 2px solid #00E3A5;
  font-size: 18px;
  border: 1px solid #00E3A5;
  padding: 24px 48px;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0px 12px 20px -3px rgba(0, 227, 166, 0.5);
}
.webContainer .New_Header .New_Header-box .New_Header-box-right {
  width: 55%;
}
.webContainer .New_Header .New_Header-box .New_Header-box-right img {
  display: block;
  width: 100%;
}
.webContainer .achievements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 126px;
}
.webContainer .achievements .achievements__body {
  z-index: 2;
}
.webContainer .achievements .achievements__body .achievements__body_headers {
  text-align: center;
}
.webContainer .achievements .achievements__body .achievements__body_headers h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  color: #80AB9E;
  font-weight: 300;
  margin-bottom: 10px;
}
.webContainer .achievements .achievements__body .achievements__body_headers h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  margin-bottom: 50px;
}
.webContainer .achievements .achievements__body .achievements__body_containers {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.webContainer .achievements .achievements__body .achievements__body_containers p:nth-child(1) {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #00E3A5;
}
.webContainer .achievements .achievements__body .achievements__body_containers p:nth-child(2) {
  color: #f5fbf2;
  font-weight: 300;
}
.webContainer .achievements .achievements__map-img {
  margin-top: -75px;
}
.webContainer .achievements .achievements__map-img img {
  width: 100%;
}
.webContainer .baners {
  background-color: #091D18;
  opacity: 0.5;
  border-radius: 129.482px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 144px;
  padding: 120px 101px 128px 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.webContainer .aboutUs {
  display: flex;
  width: 100%;
  margin-bottom: 300px;
  justify-content: center;
  align-items: center;
  background-image: url(./Assets/About_Us/main-background.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.webContainer .aboutUs .aboutUs__img {
  width: 87%;
  display: flex;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__text {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 40%;
  margin-left: 2%;
  margin-top: 60px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  color: #f5fbf2;
  margin-bottom: 25px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__text p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #80AB9E;
  font-size: 20px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__text button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 5px;
  letter-spacing: 0.05em;
  font-weight: 900;
  line-height: 22px;
  padding: 24px 48px;
  border: 2px solid #00E3A5;
  font-size: 18px;
  font-size: 18px;
  font-weight: 900;
  padding: 24px 48px;
  max-width: 250px;
  border: 1px solid #00E3A5;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__text > p:first-of-type {
  margin-bottom: 20px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__text > :nth-child(3) {
  margin-bottom: 50px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes {
  position: relative;
  width: 60%;
  margin-top: 50px;
  margin-left: -85px;
  margin-right: 2%;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-market .box_blur, .webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-data .box_blur {
  top: -60px;
  left: 25px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-money .box_blur, .webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-fast .box_blur {
  top: -60px;
  left: 150px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes img:nth-child(2) {
  position: absolute;
  filter: blur(35px);
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .box {
  background-color: #020d10;
  border-radius: 15px;
  border-image-slice: 1;
  width: 317px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .box p {
  font-size: 22px;
  color: rgb(189, 243, 255);
  font-weight: 300;
  line-height: 34px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes-market {
  position: absolute;
  left: 133px;
  top: 26px;
  z-index: 5;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes-market img {
  padding-top: 51px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes-market p {
  margin-top: 24px;
  margin-bottom: 39px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes-market-border {
  position: absolute;
  border-radius: 15px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) -30.29%, rgba(255, 255, 255, 0.5) 144.92%);
  width: 319px;
  height: 231px;
  top: 25px;
  left: 132px;
  z-index: 3;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-money {
  position: absolute;
  left: 471px;
  top: 136px;
  z-index: 5;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-money img {
  padding-top: 51px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-money p {
  margin-top: 24px;
  margin-bottom: 39px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-money-border {
  position: absolute;
  border-radius: 15px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) -30.29%, rgba(255, 255, 255, 0.5) 144.92%);
  width: 319px;
  height: 231px;
  top: 135px;
  left: 470px;
  z-index: 3;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-data {
  position: absolute;
  left: 235px;
  height: 228px;
  top: 276px;
  z-index: 2;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-data img {
  padding-top: 51px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-data p {
  margin-top: 24px;
  margin-bottom: 39px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-data-border {
  position: absolute;
  border-radius: 15px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) -30.29%, rgba(255, 255, 255, 0.5) 144.92%);
  width: 319px;
  height: 231px;
  top: 274px;
  left: 234px;
  z-index: 1;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-fast {
  position: relative;
  left: 573px;
  top: 155px;
  z-index: 5;
  height: 228px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-fast img {
  padding-top: 51px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-fast p {
  margin-top: 24px;
  margin-bottom: 39px;
}
.webContainer .aboutUs .aboutUs__img .aboutUs__boxes .aboutUs__boxes-fast-border {
  position: absolute;
  border-radius: 15px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) -30.29%, rgba(255, 255, 255, 0.5) 144.92%);
  width: 319px;
  height: 231px;
  top: 382px;
  left: 572px;
  z-index: 3;
}
.webContainer .offerts {
  background-color: rgba(9, 29, 24, 0);
  display: flex;
  flex-direction: column;
  margin-bottom: 222px;
  position: relative;
}
.webContainer .offerts h3 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  color: #f5fbf2;
  height: 63.64px;
  margin-top: 100px;
  z-index: 3;
}
.webContainer .offerts .offerts__one, .webContainer .offerts .offerts__three {
  background-color: rgba(0, 221, 155, 0.03);
  border-radius: 150px 0px 0px 150px;
  height: 220px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  margin-left: 10%;
  z-index: 3;
}
.webContainer .offerts .offerts__one img:nth-child(1), .webContainer .offerts .offerts__three img:nth-child(1) {
  margin-left: 10%;
  margin-right: 10px;
}
.webContainer .offerts .offerts__one div, .webContainer .offerts .offerts__three div {
  margin-right: 21%;
}
.webContainer .offerts .offerts__one div h5, .webContainer .offerts .offerts__three div h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
}
.webContainer .offerts .offerts__one div p, .webContainer .offerts .offerts__three div p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #80AB9E;
}
.webContainer .offerts .offerts__one img:nth-child(3), .webContainer .offerts .offerts__three img:nth-child(3) {
  margin-right: 29%;
}
.webContainer .offerts .offerts__one div {
  margin-left: 1.5%;
}
.webContainer .offerts .offerts__three div {
  margin-right: 22.5%;
}
.webContainer .offerts .offerts__two {
  background-color: rgba(0, 221, 155, 0.03);
  border-radius: 0px 150px 150px 0px;
  height: 220px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  margin-right: 8%;
  z-index: 3;
}
.webContainer .offerts .offerts__two img:nth-child(1) {
  margin-left: 29%;
}
.webContainer .offerts .offerts__two div {
  margin-left: 19%;
  text-align: end;
}
.webContainer .offerts .offerts__two div h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
}
.webContainer .offerts .offerts__two div p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #80AB9E;
}
.webContainer .offerts .offerts__two img:nth-child(3) {
  margin-right: 14%;
  margin-left: 10px;
}
.webContainer .offerts a {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  text-decoration: none;
}
.webContainer .offerts a button {
  background-color: transparent;
  color: #f5fbf2;
  border-radius: 5px;
  letter-spacing: 0.05em;
  font-weight: 900;
  line-height: 22px;
  padding: 24px 48px;
  border: 2px solid #00E3A5;
  font-size: 18px;
}
.webContainer .offerts .light {
  position: absolute;
  background-image: url(./Assets/Offerts/light1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 280px;
  z-index: 2;
  opacity: 0.3;
  top: 110px;
}
.webContainer .offerts .light_two {
  position: absolute;
  background-image: url(./Assets/Offerts/light2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  z-index: 2;
  opacity: 0.3;
  top: 235px;
}
.webContainer .offerts .light_three {
  position: absolute;
  background-image: url(./Assets/Offerts/light1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  z-index: 2;
  opacity: 0.3;
  bottom: 180px;
}
.webContainer .community {
  background-image: url(./Assets/Community/main-background\ |\ Community.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 100px;
}
.webContainer .community h3 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  color: #f5fbf2;
  padding-top: 61px;
  margin-bottom: 51px;
}
.webContainer .community .community-carousel {
  background-color: rgba(0, 221, 156, 0.1);
  border-radius: 320px;
  padding-top: 85px;
  padding-bottom: 65px;
  width: 75%;
  display: flex;
  align-items: center;
  margin: 0 15% 100px 10%;
  position: relative;
}
.webContainer .community .community-carousel .btn-left {
  background-color: rgba(252, 252, 252, 0);
  border-style: none;
  position: absolute;
  transform: translateX(-35px);
}
.webContainer .community .community-carousel .btn-right {
  background-color: rgba(252, 252, 252, 0);
  border-style: none;
  position: absolute;
  right: 0;
  transform: translateX(35px);
}
.webContainer .community .community-carousel .face-box {
  display: flex;
  position: relative;
  margin-left: 165px;
}
.webContainer .community .community-carousel .face-box .green-circle {
  background-color: #00E3A5;
  width: 199.12px;
  height: 194.28px;
  border-radius: 100px;
}
.webContainer .community .community-carousel .face-box img {
  position: absolute;
  right: 7.5px;
  bottom: 7.5px;
}
.webContainer .community .community-carousel .text-box {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #80AB9E;
  font-weight: 700;
  text-align: justify;
  width: 45%;
  margin-left: 95px;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}
.webContainer .community .community-carousel .text-box p:first-child {
  font-weight: 300;
  margin-bottom: 35px;
}
.webContainer .community .community-carousel .text-box .quatation {
  position: absolute;
  top: -81px;
  left: -25px;
  z-index: -1;
}
.webContainer footer .footer__background-top img {
  display: block;
  width: 100%;
  margin-bottom: -200px;
  opacity: 0.3;
}
.webContainer footer .background-footer {
  background-image: url(./Assets/Footer/footer_background.png);
}
.webContainer footer .background-footer .world-map {
  background-image: url(./Assets/Footer/Background.png);
  background-repeat: no-repeat;
  display: flex;
}
.webContainer footer .background-footer .world-map .footer__left {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  width: 49.5%;
}
.webContainer footer .background-footer .world-map .footer__left h4 {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 32px;
  color: #f5fbf2;
  font-weight: 400;
  line-height: 36px;
  margin-top: 215px;
  margin-bottom: 32px;
}
.webContainer footer .background-footer .world-map .footer__left h4 span {
  color: #00E3A5;
}
.webContainer footer .background-footer .world-map .footer__left .footer__left_paragraf-top {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #80AB9E;
  margin-bottom: 49px;
  margin-right: 244px;
}
.webContainer footer .background-footer .world-map .footer__left .footer__left_container-social-media h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  color: #f5fbf2;
  font-weight: 500;
  margin-bottom: 33px;
}
.webContainer footer .background-footer .world-map .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons {
  margin-bottom: 70px;
}
.webContainer footer .background-footer .world-map .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons .fa {
  color: #80AB9E;
  font-size: 25px;
  cursor: pointer;
}
.webContainer footer .background-footer .world-map .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons .fa-facebook-f {
  border: 2px solid #80AB9E;
  border-radius: 100px;
  padding: 9px 15px;
}
.webContainer footer .background-footer .world-map .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons .fa-twitter {
  border: 2px solid #80AB9E;
  border-radius: 100px;
  padding: 9px 10px;
  margin-left: 23px;
}
.webContainer footer .background-footer .world-map .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons .fa-instagram {
  border: 2px solid #80AB9E;
  border-radius: 100px;
  padding: 9px 10px;
  margin-left: 23px;
}
.webContainer footer .background-footer .world-map .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons i:hover {
  color: #00E3A5;
  border-color: #00E3A5;
}
.webContainer footer .background-footer .world-map .footer__left .footer__left_paragraf-bottom {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #80AB9E;
}
.webContainer footer .background-footer .world-map .footer__center {
  width: 1%;
  max-width: 1px;
  border-right: 1px solid rgba(255, 255, 255, 0.3215686275);
  margin-top: 112px;
  margin-bottom: 100px;
}
.webContainer footer .background-footer .world-map .footer__right {
  display: flex;
  flex-direction: column;
  margin-right: 8%;
  margin-left: 85px;
  width: 49.5%;
}
.webContainer footer .background-footer .world-map .footer__right h4 {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 32px;
  color: #f5fbf2;
  line-height: 48px;
  margin-top: 124px;
  margin-bottom: 38px;
}
.webContainer footer .background-footer .world-map .footer__right .footer__right_form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 81px;
}
.webContainer footer .background-footer .world-map .footer__right .footer__right_form .footer__right_form-input--email {
  border: 1px solid #00E3A5;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 24px 220px 24px 48px;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 22px;
  color: #f5fbf2;
}
.webContainer footer .background-footer .world-map .footer__right .footer__right_form .footer__right_form-input--submit {
  border: 1px solid #00E3A5;
  background-color: #00E3A5;
  border-radius: 5px;
  padding: 25px 65px;
  font-size: 18px;
  font-weight: 900;
  color: #0D0D0D;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin-left: -3%;
  cursor: pointer;
}
.webContainer footer .background-footer .world-map .footer__right .footer__right_line {
  border: 1px solid rgba(255, 255, 255, 0.3215686275);
  width: 640px;
  margin-bottom: 64px;
}
.webContainer footer .background-footer .world-map .footer__right .footer__right_container-links {
  display: flex;
}
.webContainer footer .background-footer .world-map .footer__right .footer__right_container-links .footer__right_container-links-left {
  display: flex;
  flex-direction: column;
}
.webContainer footer .background-footer .world-map .footer__right .footer__right_container-links .footer__right_container-links-left h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  margin-bottom: 18px;
}
.webContainer footer .background-footer .world-map .footer__right .footer__right_container-links .footer__right_container-links-left a {
  font-size: 20px;
  line-height: 50px;
  color: #80AB9E;
  text-decoration: none;
}
.webContainer footer .background-footer .world-map .footer__right .footer__right_container-links .footer__right_container-links-right {
  display: flex;
  flex-direction: column;
  margin-left: 224px;
  margin-bottom: 126px;
}
.webContainer footer .background-footer .world-map .footer__right .footer__right_container-links .footer__right_container-links-right h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  margin-bottom: 18px;
}
.webContainer footer .background-footer .world-map .footer__right .footer__right_container-links .footer__right_container-links-right a {
  font-size: 20px;
  line-height: 50px;
  color: #80AB9E;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */