* {
  box-sizing: border-box;
  margin: 0;
}

button, a {
  cursor: pointer;
}

.webContainer {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #0A1619;
}
.webContainer header {
  display: flex;
  margin: 0 0 130px 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 62px 0 52px 0;
  background-color: #09251E;
}
.webContainer header h1 {
  display: flex;
  width: 35%;
  font-size: 45px;
  line-height: 36.4px;
  color: #f5fbf2;
  margin-left: 8%;
}
.webContainer header h1 span {
  color: #00E3A5;
}
.webContainer header nav {
  width: 40%;
}
.webContainer header nav ul {
  display: flex;
  justify-content: space-around;
}
.webContainer header nav ul li {
  list-style: none;
  position: relative;
}
.webContainer header nav ul li a {
  font-size: 18px;
  line-height: 21.09px;
  color: #f5fbf2;
}
.webContainer header nav ul li a:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #00E3A5;
  position: absolute;
  bottom: -8px;
  left: 0;
  border-radius: 29px;
}
.webContainer header nav ul li a:hover {
  color: #00E3A5;
}
.webContainer header nav ul li a:hover::after {
  color: red;
  width: 60%;
  transition: all 0.3s;
  position: absolute;
}
.webContainer header div {
  width: 15%;
  margin-left: 5%;
}
.webContainer header div button {
  background-color: #09251E;
  color: white;
  border-radius: 5px;
  border: 1px solid #00E3A5;
  padding: 24px 45px;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
}
.webContainer .baners {
  background-color: #091D18;
  opacity: 0.5;
  border-radius: 129.482px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 144px;
  padding: 120px 101px 128px 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.webContainer .community {
  background-image: url(./Assets/Community/main-background\ |\ Community.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 100px;
}
.webContainer .community h3 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  color: #f5fbf2;
  padding-top: 61px;
  margin-bottom: 51px;
}
.webContainer .community .community-carousel {
  background-color: rgba(0, 221, 156, 0.1);
  border-radius: 320px;
  padding-top: 85px;
  padding-bottom: 65px;
  width: 75%;
  display: flex;
  align-items: center;
  margin: 0 15% 100px 10%;
  position: relative;
}
.webContainer .community .community-carousel .btn-left {
  background-color: rgba(252, 252, 252, 0);
  border-style: none;
  position: absolute;
  transform: translateX(-35px);
}
.webContainer .community .community-carousel .btn-right {
  background-color: rgba(252, 252, 252, 0);
  border-style: none;
  position: absolute;
  right: 0;
  transform: translateX(35px);
}
.webContainer .community .community-carousel .face-box {
  display: flex;
  position: relative;
  margin-left: 165px;
}
.webContainer .community .community-carousel .face-box .green-circle {
  background-color: #00E3A5;
  width: 199.12px;
  height: 194.28px;
  border-radius: 100px;
}
.webContainer .community .community-carousel .face-box img {
  position: absolute;
  right: 7.5px;
  bottom: 7.5px;
}
.webContainer .community .community-carousel .text-box {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #80AB9E;
  font-weight: 700;
  text-align: justify;
  width: 45%;
  margin-left: 95px;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}
.webContainer .community .community-carousel .text-box p:first-child {
  font-weight: 300;
  margin-bottom: 35px;
}
.webContainer .community .community-carousel .text-box .quatation {
  position: absolute;
  top: -81px;
  left: -25px;
  z-index: -1;
}
.webContainer footer {
  background-image: url(./Assets/Footer/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 100%;
  justify-content: center;
}
.webContainer footer .footer__left {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  width: 49.5%;
}
.webContainer footer .footer__left h4 {
  font-size: 34px;
  color: #f5fbf2;
  font-weight: 400;
  line-height: 36px;
  margin-top: 215px;
  margin-bottom: 32px;
}
.webContainer footer .footer__left h4 span {
  color: #00E3A5;
}
.webContainer footer .footer__left .footer__left_paragraf-top {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #80AB9E;
  margin-bottom: 49px;
  margin-right: 244px;
}
.webContainer footer .footer__left .footer__left_container-social-media h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  color: #f5fbf2;
  font-weight: 500;
  margin-bottom: 33px;
}
.webContainer footer .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons {
  margin-bottom: 70px;
}
.webContainer footer .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons .fa {
  color: #80AB9E;
  font-size: 25px;
}
.webContainer footer .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons .fa-facebook-f {
  border: 2px solid #80AB9E;
  border-radius: 100px;
  padding: 9px 15px;
}
.webContainer footer .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons .fa-twitter {
  border: 2px solid #80AB9E;
  border-radius: 100px;
  padding: 9px 10px;
  margin-left: 23px;
}
.webContainer footer .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons .fa-instagram {
  border: 2px solid #80AB9E;
  border-radius: 100px;
  padding: 9px 10px;
  margin-left: 23px;
}
.webContainer footer .footer__left .footer__left_container-social-media .footer__left_container-social-media-icons i:hover {
  color: #00E3A5;
  border-color: #00E3A5;
}
.webContainer footer .footer__left .footer__left_paragraf-bottom {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #80AB9E;
}
.webContainer footer .footer__center {
  width: 1%;
  max-width: 1px;
  border-right: 1px solid rgba(255, 255, 255, 0.3215686275);
  margin-top: 112px;
  margin-bottom: 100px;
}
.webContainer footer .footer__right {
  display: flex;
  flex-direction: column;
  margin-right: 8%;
  margin-left: 85px;
  width: 49.5%;
}
.webContainer footer .footer__right h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #f5fbf2;
  margin-top: 124px;
  margin-bottom: 38px;
}
.webContainer footer .footer__right .footer__right_form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 81px;
}
.webContainer footer .footer__right .footer__right_form .footer__right_form-input--email {
  border: 1px solid #00E3A5;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 24px 220px 24px 48px;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 22px;
}
.webContainer footer .footer__right .footer__right_form .footer__right_form-input--submit {
  border: 1px solid #00E3A5;
  background-color: #00E3A5;
  border-radius: 5px;
  padding: 24px 65px;
  font-size: 18px;
  font-weight: 900;
  color: #0D0D0D;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin-left: -3%;
}
.webContainer footer .footer__right .footer__right_line {
  border: 1px solid rgba(255, 255, 255, 0.3215686275);
  width: 640px;
  margin-bottom: 64px;
}
.webContainer footer .footer__right .footer__right_container-links .footer__right_container-links-left {
  display: flex;
  flex-direction: column;
}
.webContainer footer .footer__right .footer__right_container-links .footer__right_container-links-left h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  margin-bottom: 18px;
}
.webContainer footer .footer__right .footer__right_container-links .footer__right_container-links-left a {
  font-size: 20px;
  line-height: 50px;
  color: #80AB9E;
  text-decoration: none;
}
.webContainer footer .footer__right .footer__right_container-links .footer__right_container-links-right {
  display: flex;
  flex-direction: column;
  margin-left: 224px;
  margin-bottom: 126px;
}
.webContainer footer .footer__right .footer__right_container-links .footer__right_container-links-right h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  margin-bottom: 18px;
}
.webContainer footer .footer__right .footer__right_container-links .footer__right_container-links-right a {
  font-size: 20px;
  line-height: 50px;
  color: #80AB9E;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */