@import "var";
@import "reset";

.webContainer {
    font-family: $font-web;
    width: 100%;
    background-color: #0A1619;;


    header {
        display: flex;
        margin: 0 0 130px 0;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 62px 0 52px 0;
        background-color: #09251E;

        h1 {
            display: flex;
            width: 35%;
            font-size: 45px; 
            line-height: 36.4px;
            color: $color-heading;
            margin-left: 8%;
             
            span {
                color: $color-green;
            }
        }
        nav {
            width: 40%;
            
            ul {
                display: flex;
                justify-content: space-around;
            
                li {
                    list-style: none;
                    position: relative;

                    a {
                    font-size: 18px;
                    line-height: 21.09px;
                    color: $color-heading;
                    }
                    a:after {
                        content: '';
                        width: 0%;
                        height: 2px;
                        background-color: $color-green;
                        position: absolute;
                        bottom: -8px;
                        left: 0;
                        border-radius: 29px;
                    }
                    a:hover {
                        color: $color-green;
                    }
                    a:hover::after {
                        color: red;
                        width: 60%;
                        transition: all 0.3s;
                        position: absolute;
                    } 
                } 
            }
        }
        div {
            width: 15%;
            margin-left: 5%;

            button {
                @include btn (#09251E, white);
                border: 1px solid $color-green;
                padding: 24px 45px;
                font-size: $paragraf-small;
                font-weight: 900;
                line-height: 22px;
            }
        }
    }
    .baners {
        background-color: #091D18;
        opacity: 0.5;
        border-radius: 129.482px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 144px;
        padding: 120px 101px 128px 101px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .community {
        background-image: url(./Assets/Community/main-background\ |\ Community.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding-bottom: 100px;                                             
        

        h3 {
            @include -h3;
            padding-top: 61px;
            margin-bottom: 51px;
        }

        .community-carousel {
            background-color: rgba(0, 221, 156, 0.1);
            border-radius: 320px;
            padding-top: 85px;
            padding-bottom: 65px;
            width: 75%;                                                     
            display: flex;
            align-items: center;
            margin: 0 15% 100px 10%;                                        
            position: relative;
           
            

            .btn-left {
                background-color: rgba(252, 252, 252, 0);
                border-style: none;
                position: absolute;
                transform: translateX(-35px);
            }

            .btn-right {
                background-color: rgba(252, 252, 252, 0);
                border-style: none;
                position: absolute;
                right: 0;
                transform: translateX(35px);
            }
            .face-box {
                display: flex;
                position: relative;
                margin-left: 165px;
                
                .green-circle { 
                    background-color: $color-green;
                    width: 199.12px;
                    height: 194.28px;
                    border-radius: 100px;
                } 
                img {
                    position: absolute;
                    right: 7.5px;
                    bottom: 7.5px;
                }
            } 
            .text-box {
                @include -p-small;
                font-weight: 700;
                text-align: justify;
                width: 45%;                             
                margin-left: 95px;
                margin-top: 50px;
                position: relative;
                z-index: 1;
                
                p:first-child {
                    font-weight: 300;
                    margin-bottom: 35px;
                   
                }

                .quatation {
                    position: absolute;
                    top: -81px;
                    left: -25px;
                    z-index: -1;
                }
            }
        }
    }      
}
