// Fonts 
$font-web: 'Roboto', sans-serif;
// Size 
$paragraf-small: 18px;
// $paragraf-medium: 20px;
$h3-size: 36px;
$h4-size: 34px;
$h5-size: 24px;
// Color 
$color-green: #00E3A5;
$color-heading: #f5fbf2;
$color-paragraf-small: #80AB9E;
$color-howDoWeWork: #00dd9b08;
// Border 
$borderRadius-AboutUs: 15px;
$borderRadius-button: 5px;
$borderbottom: 1px;
// Mixin 
@mixin -h3 {
    font-family: $font-web;
    font-size: $h3-size;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    color: $color-heading;
}
@mixin -h5 {
    font-family: $font-web;
    font-size: $h5-size;
    font-weight: 700;
    line-height: 32px;
    color: white;
}
@mixin -p-small {
    font-family: $font-web;
    font-size: $paragraf-small;
    font-weight: 400;
    line-height: 32px;
    color: $color-paragraf-small;
}
@mixin btn($background-color, $color) {
    background-color: $background-color;
    color: $color;
    border-radius: $borderRadius-button;
    letter-spacing: 0.05em;
    font-weight: 900;
    line-height: 22px;
    padding: 24px 48px;
    border: 2px solid $color-green;
    font-size: $paragraf-small;
} 
@mixin -paragraf-about {
    font-size: 22px;
    color: rgba(189, 243, 255, 1);
    font-weight: 300;
    line-height: 34px;
}
@mixin -h2 {
    font-size: 52px;
    color: $color-heading;
    font-weight: 700;
    line-height: 54px;
}
